body{
    margin: 0;
}
.header{
    height: 60px;
    background: lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
    
}
h1{
    flex-grow: 1;
    margin-left: 20px;
}

