*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.topbar {
    background-color: ghostwhite;
    height: 30px;
}
.menu {
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
}
.menu a { 
    text-decoration: none;
}
.texte {
    background-color: gainsboro;
}
.fixed{
    opacity: 0.7;
}
.content{
    margin-top: 20px;
}
.main{
    float: left;
    width: 75%;
}
.sidebar{
    position: relative;
    float: right;
    width: 25%;
    height: 800px;
    border: 2px dashed red;
}
.block{
    background-color: #fff;
    padding: 10px;
}